<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
      <canvas baseChart width="400" height="100"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType">
      </canvas>
    </div>
  </div>
  <button (click)="randomize()">Randomize</button>
  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let data of d.data">{{ data }}</td>
      </tr>
    </table>
  </div>
  <div>
    <div style="display: block">
      <canvas baseChart width="400" height="100"
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
    <button (click)="randomizeBar()">Randomize</button>
  </div>
</div>
