
.box {
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
  background-color: red;
  transition:
    margin-bottom 0s,
    height 1s 0.1s,
    background 0.5s 1s;
}

.box2 {
  overflow: hidden;
  width: 50px;
  height: 0;
  background-color: orange;
  transition:
    background 1s,
    height 0.5s 1s,
    margin-bottom 0s 1.5s;
}
